{% load static %}
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>Endless Scroll Demo (by Fred Wu)</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

  <style type="text/css" media="screen">
    * { margin: auto; }
    body { margin: 20px 0; background: #abc; color: #111; font-family: Helvetica, Arial, Verdana, 'Lucida Grande', sans-serif; }
    h1, h3, p { text-align: center; }
    div.example { padding: 20px; margin: 10px auto; background: #bcd; width: 750px; }
    div.example h3 { margin-bottom: 10px; }
    ul, ol { padding: 0; }
    #list { width: 50px; height: 150px; overflow-y: scroll; }
    #images { width: 600px; height: 550px; overflow-x: hidden; text-align: center; list-style: none; }
    .endless_scroll_loader { position: fixed; top: 10px; right: 20px; }
  </style>

  <script type="text/javascript" src="{%  static 'js/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{%  static 'js/jquery.endless-scroll.js' %}"></script>
  <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#images').scrollTop(101);
      var images = $("ul#images").clone().find("li");
      var batchSize = 8;

      function get_site_name(article) {
          if (article["site_name"]) {
              return article["site_name"];
          }
          if (article["url"]) {
              return article["url"];
          }
          if (article["domain"]) {
              return article["domain"];
          }
          return "NO_URL";
      }

      function generateFrame(article) {
          return "<li><div>" +
              "<strong>" + article["title"] + "</strong>" +
              "<br/>" +
              "<strong>Brief Description: " + article["description"] + "</strong>" +
              "<br/>" +
              "<a href=\"" + article["url"] + "\">Source: " + get_site_name(article) + "</a>" +
              "<br/>" +
              "<strong>Author: " + article["author"] + "</strong>" +
              "<br/>" +
              "<strong>Time: " + article["pub_datetime"] + "</strong>" +
              "<br/>" +
              "<strong>Language: " + article["lang"] + "</strong>" +
              "<br/>" +
              "<p>Text: " + article["article"] + "</p>" +
              "</div><br><br><br><br><br></li>";
      }

      var batch = [];

      var is_begin = true;

      console.log('GOOD');

      $.ajax({
          method: 'post',
          url: "ajax_scroll_handler",
          success: function(result) {
              alert('RESPONSE!!', result);
              console.log('RESULT:');
              console.log(result);
              batch = result;
              for (let i = 0; i < batch.length; ++i) {
                  console.log(batch[i]);
                  $("#images").append(generateFrame(batch[i]));
              }
          },
          data: {
              'batch_size': batchSize,
              'batch_no': 0
          }
      });


      $('#images').endlessScroll({
        pagesToKeep: 5,
        inflowPixels: 100,
        fireDelay: 10,
        content: function(i, p, d) {
          console.log(i, p, d);
          {#return images.eq(Math.floor(Math.random()*8))[0].outerHTML;#}
          $.ajax({
              method: 'post',
              url: "ajax_scroll_handler",
              success: function(result) {
                  alert('RESPONSE!!', result);
                  console.log('RESULT:');
                  console.log(result);
                  batch = result;
                  var totalHTML = "";
                  for (let i = 0; i < batch.length; ++i) {
                      console.log(batch[i]);
                      totalHTML += generateFrame(batch[i]);
                  }
              },
              data: {
                  'batch_size': batchSize,
                  'batch_no': i
              }
          });
          var totalHTML = "";
          for (let i = 0; i < batch.length; ++i) {
              console.log(batch[i]);
              totalHTML += generateFrame(batch[i]);
          }
          {#console.log('TOTAL HTML');#}
          {#console.log(totalHTML);#}
          return totalHTML;
        }
      });
    });

    {#content: function(i, p, d) {#}
    {#      console.log(i, p, d);#}
    {#      if (i % batchSize == 0 || is_begin) {#}
    {#          is_begin = false;#}
    {#          $.ajax({#}
    {#              method: 'post',#}
    {#              url: "ajax_scroll_handler",#}
    {#              success: function(result) {#}
    {#                  alert('RESPONSE!!', result);#}
    {#                  console.log('RESULT:');#}
    {#                  console.log(result);#}
    {#                  batch = result;#}
    {#                  is_updated = true;#}
    {#              },#}
    {#              data: {#}
    {#                  'batch_size': batchSize,#}
    {#                  'batch_no': i#}
    {#              }#}
    {#          });#}
    {#      }#}
    {#      if (is_updated) {#}
    {#          var totalHTML = "";#}
    {#          for (let i = 0; i < batch.length; ++i) {#}
    {#              console.log(batch[i]);#}
    {#              totalHTML += generateFrame(batch[i]);#}
    {#          }#}
    {#          console.log('TOTAL HTML');#}
    {#          console.log(totalHTML);#}
    {#          is_updated = false;#}
    {#          return totalHTML;#}
    {#      }#}
    {##}
          {#var htmlka = images.eq(Math.floor(Math.random()*8))[0].outerHTML;#}
          {#console.log('HTML');#}
          {#console.log(htmlka);#}
    {#      return images.eq(Math.floor(Math.random()*8))[0].outerHTML;#}
    {#    }#}
  </script>
</head>

<body>
  <h1>Endless Scroll Demo</h1>
  <h3>by <a href="http://fredwu.me/">Fred Wu</a></h3>

  <div class="example">
    <h3>Never ending:</h3>
    <ul id="images">
      <li>HREN</li>
{#      <li><img src="{% static 'img/stones.jpg' %}" width="580" height="360" alt="Stones" /></li>#}
{#      <li><img src="{% static 'img/sea-mist.jpg' %}" width="580" height="360" alt="Sea Mist" /></li>#}
{#      <li><img src="{% static 'img/pier.jpg' %}" width="580" height="360" alt="Pier" /></li>#}
{#      <li><img src="{% static 'img/lotus.jpg' %}" width="580" height="360" alt="Lotus" /></li>#}
{#      <li><img src="{% static 'img/mojave.jpg' %}" width="580" height="360" alt="Mojave" /></li>#}
{#      <li><img src="{% static 'img/lightning.jpg' %}" width="580" height="360" alt="Lightning" /></li>#}
{#      <li><img src="{% static 'img/flowing-rock.jpg' %}" width="580" height="360" alt="Grass Blades" /></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
{#        <li><div class="news_frame"><a>url</a><strong>Title</strong><p>Aaticle</p></div></li>#}
    </ul>
  </div>

  <div class="example">
    <p>Copyright &copy; <a href="http://fredwu.me/">Fred Wu</a></p>
  </div>

</body>

</html>
