{% load static %}
<!DOCTYPE HTML>

<html>
	<head>
		<title>Future Imperfect by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
        <script type="text/javascript" src="{%  static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{%  static 'js/jquery.endless-scroll.js' %}"></script>

    <script type="text/javascript" charset="utf-8">
    $(function() {
      $('#main').scrollTop(101);
      var batchSize = 8;

      function get_site_name(article) {
          if (article["site_name"]) {
              return article["site_name"];
          }
          if (article["url"]) {
              return article["url"];
          }
          if (article["domain"]) {
              return article["domain"];
          }
          return "NO_URL";
      }

      function generateFrame(article) {
          return "<li><div>" +
              "<strong>" + article["title"] + "</strong>" +
              "<br/>" +
              "<strong>Brief Description: " + article["description"] + "</strong>" +
              "<br/>" +
              "<a href=\"" + article["url"] + "\">Source: " + get_site_name(article) + "</a>" +
              "<br/>" +
              "<strong>Author: " + article["author"] + "</strong>" +
              "<br/>" +
              "<strong>Time: " + article["pub_datetime"] + "</strong>" +
              "<br/>" +
              "<strong>Language: " + article["lang"] + "</strong>" +
              "<br/>" +
              "<p>Text: " + article["article"] + "</p>" +
              "</div><br><br><br><br><br></li>";
      }

      function parseUrlParams(url) {
          var params = url.substr(url.indexOf('?') + 1).split('&');
          var res_map = {};
          for (let i = 0; i < params.length; ++i) {
              var param_pair = params[i].split('=');
              var pname = param_pair[0];
              var pvalue = param_pair[1];
              res_map[pname] = pvalue;
          }
          return res_map;
      }

      var PARAMS = parseUrlParams(window.location.href);
      PARAMS['batch_size'] = batchSize;

      console.log('PARAMS:');
      console.log(PARAMS);

      function makeTopicHref(article) {
          return "/tape?topic=" + article["topic"];
      }

      function makeThreadHref(article) {
          return "/tape?thread_id=" + article["thread_id"];
      }

      function makeDomainHref(article) {
          return "/tape?domain=" + article["domain"];
      }

      function MakeFrame(article) {
          return "<article class=\"post\">\n" +
              "\t\t\t\t\t\t\t\t<header>\n" +
              "\t\t\t\t\t\t\t\t\t<div class=\"title\">\n" +
              "\t\t\t\t\t\t\t\t\t\t<h2><a href=\"" + article["url"] + "\">" + article["title"] + "</a></h2>\n" +
              "\t\t\t\t\t\t\t\t\t\t<p>" + article["description"] + "</p>\n" +
              "\t\t\t\t\t\t\t\t\t\t<p><a href=\"" + makeTopicHref(article) + "\">Topic: " + article["topic"] + "</a><br><a href=\"" + makeThreadHref(article) + "\">Thread ID: " + article["thread_id"] + "</a><br><a href=\"" + makeDomainHref(article) +"\">Domain: " + article["domain"] + "</a></p>\n" +
              "\t\t\t\t\t\t\t\t\t</div>\n" +
              "\t\t\t\t\t\t\t\t\t<div class=\"meta\">\n" +
              "\t\t\t\t\t\t\t\t\t\t<time class=\"published\" datetime=\"2015-10-22\">" + article["pub_datetime"] + "</time>\n" +
              "\t\t\t\t\t\t\t\t\t\t<a href=\"" + article["url"] +"\" class=\"author\"><span class=\"name\">" + article["author"] + "</span><img src=\"{% static 'images/avatar.jpg' %}\" alt=\"\" /></a>\n" +
              "\t\t\t\t\t\t\t\t\t</div>\n" +
              "\t\t\t\t\t\t\t\t</header>\n" +
              "\t\t\t\t\t\t\t\t<p>" + article["article"] + "</p>\n" +
              "\t\t\t\t\t\t\t\t<footer>\n" +
              "\t\t\t\t\t\t\t\t\t<ul class=\"actions\">\n" +
              "\t\t\t\t\t\t\t\t\t\t<li><a href=\"" + article["url"] + "\" class=\"button large\">Continue Reading</a></li>\n" +
              "\t\t\t\t\t\t\t\t\t</ul>\n" +
              "\t\t\t\t\t\t\t\t\t<ul class=\"stats\">\n" +
              "\t\t\t\t\t\t\t\t\t\t<li><a href=\"#\">General</a></li>\n" +
              "\t\t\t\t\t\t\t\t\t\t<li><a href=\"#\" class=\"icon solid fa-heart\">28</a></li>\n" +
              "\t\t\t\t\t\t\t\t\t\t<li><a href=\"#\" class=\"icon solid fa-comment\">128</a></li>\n" +
              "\t\t\t\t\t\t\t\t\t</ul>\n" +
              "\t\t\t\t\t\t\t\t</footer>\n" +
              "\t\t\t\t\t\t\t</article>";
      }

      var batch = [];

      $.ajax({
          method: 'post',
          url: "ajax_scroll_handler",
          success: function(result) {
              batch = result;
              for (let i = 0; i < batch.length; ++i) {
                  $("#main").append(MakeFrame(batch[i]));
              }
          },
          data: PARAMS
      });

      $("#nextPageBtn").click(

          function (ev) {
              $.ajax({
                  method: 'post',
                  url: "ajax_scroll_handler",
                  success: function(result) {
                      console.log($("article").length);
                      $("article").remove();
                      console.log($("article").length);
                      console.log(result);
                      for (let i = 0; i < result.length; ++i) {
                          $("#main").append(MakeFrame(result[i]));
                      }
                  },
                  data: PARAMS
              });
          }
      );
    });

  </script>

	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1><a href="/tape">Scraped News</a></h1>
						<nav class="links">
							<ul>
								<li><a href="/request">Request form</a></li>
								<li><a href="/login">Log In</a></li>
								<li><a href="/profile">Profile</a></li>
								<li><a href="/quit">Quit</a></li>
							</ul>
						</nav>
						<nav class="main">
							<ul>
								<li class="search">
									<a class="fa-search" href="#search">Search</a>
									<form id="search" method="get" action="#">
										<input type="text" name="query" placeholder="Search" />
									</form>
								</li>
								<li class="menu">
									<a class="fa-bars" href="#menu">Menu</a>
								</li>
							</ul>
						</nav>
					</header>

				<!-- Main -->
					<div id="main">
						<!-- Pagination -->
							<ul class="actions pagination">
{#								<li><a href="" class="disabled button large previous">Previous Page</a></li>#}
								<li><a href="#" class="button large next" id="nextPageBtn">Next Page</a></li>
							</ul>

					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>

	</body>
</html>